.error-output {
    margin: 0;
    padding: 0 70px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #FF004C;
}
   
.error-output_hidden {
    visibility: hidden;
}
    