.logo {
    width: 38px;
    height: 38px;
    margin: 0;
}

/* @media screen and (max-width: 920px) {
    .logo {
        width: 104px;
        height: 25px;
    }
} */

/* .header__link{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 6px 0px 0px 0px;
    text-decoration: none;
} */